{% include 'header.html.twig' %}


<h1>Cadastro de Cliente</h1>

{% for erro in erros %}
{{ erro }} <br />
{% endfor %}

<form method="post">
Nome: 
<input type="text" name="nome" value="{{ cliente.nome }}">
<br />
E-mail:
<input type="text" name="email" value="{{ cliente.email }}">
<br />
Telefone:
<input type="text" name="telefone" value="{{ cliente.telefone }}">
<br />
Senha:
<input type="password" name="senha">
<br />
Confirmação de Senha:
<input type="password" name="senhaConfirmacao">

<br />
<input type="submit" value="Salvar">
</form>

</body>
</html>
